.footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white ;
    padding: 2em;
    font-family: 'Poppins', sans-serif;
}

.footer div
{
    text-align: left;
    padding: 0.5em;
}

.footer h3
{
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 1em;
    font-family: cursive;
}

.footer h2
{
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Rubik Burned', system-ui;
    margin-bottom: 1em;
}

.follow
{
    font-family: cursive;
    font-weight: 900;
}

/*.footer h2 span
{
    color:var(--second-color);
}*/

.footer p
{
    color: whitesmoke;
    font-weight: 600;
    margin: 0;
    padding: 0.5em;
}

.footer a
{
    text-decoration: none;
    color: whitesmoke;
}

.footer a:hover
{
    text-decoration: none;
    color: var(--second-color);
}

.footer img
{
    width: 1.5rem;
    height: auto;
    margin-right: 1em;
   cursor: pointer;
}

.copyR
{
    color: var(--main-color);
    border-top: 1px solid var(--nardo-gray-color);
    font-size: 0.9em;
    font-family: cursive;
    font-weight: 900;
    margin-top: 2em;
}

.line
{
    margin-bottom: 0.5em;
    font-size: 1em;
}

.footer mark
{
    color: inherit;
    background-color: transparent;
    font-family: 'Rubik Burned', system-ui;
    font-size: 1.3em;
    cursor: pointer;
}

/*.footer mark span
{
    color: var(--second-color);
}*/

.noms
{
    color: inherit;
    background-color: transparent;
    font-family: cursive;
    font-size: 1.3em
}

.footer .active
{
    border-bottom: 1px solid  red;
}

/*Media Query*/
@media screen and (max-width: 1150px)
{
    .mainDiv
    {
        flex-direction: column;
    }
}

@media screen and (max-width:799px) 
{
    .footer
    {
        padding: 1em;
    }

    .footer h3
    {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .footer h2
    {
        font-size: 1.5em;
        margin-bottom: 0.9em;
    }

    .footer img 
    {
        width: 1rem;
        height: auto;
        margin-right: 0.5em;
    }

    .footer p
    {
        font-size: 1.1em;
        padding: 0.5em;
    }

    .footer mark, .footer .noms
    {
        font-size: 1em;
    }

}

@media screen and (max-width:477px) 
{
    .footer
    {
        padding: 1em;
    }

    .footer h3
    {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .footer h2
    {
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }

    .footer img 
    {
        width: 0.8em;
        height: auto;
        margin-right: 0.7em;
    }

    .footer p
    {
        font-size: 1.1em;
        padding: 0.3em;
    }

    .footer mark, .footer .noms
    {
        font-size: 1em;
    }
}


