.homeSection1
{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
}

.divPrincipale 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    min-height: 60vh;
    position: relative;
    border-bottom: 5px solid var(--second-color);
    border-radius: 20px;
}

.divPrincipale::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/home/car3.webp');
    background-size: cover;
    z-index: -1; 
}

.contenu 
{
    position: relative; 
    z-index: 1
}

.date
{
    font-size: 0.9em;
    font-weight: 600;
    font-family: cursive;
    padding-top: 4em;
}

.titrePrincipale
{
    color: whitesmoke;
    font-size: 5em;
    font-weight: 900;
    font-family: 'Rubik Burned', system-ui;
    margin-bottom: 1em;
    margin-top: 0.2em;
    text-transform: uppercase;
}

.menubutton
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    padding: 1em;
}    

.menubutton .homeButton
{
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
    border-radius: 10px;
    font-weight: 900;
    font-family: cursive;
    background-color: var(--second-color);
}

.homeButton:hover
{
    background-color: gray;
    transition: ease-in-out 0.7s;
}

.decompte
{
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: white;
    font-size: 3.5em;
    font-weight: 900;
    font-family: cursive;
    font-family: 'Rubik Burned', system-ui;
    text-shadow: 2px 2px 4px whitesmoke;
}

.decompte span p
{
    font-size: 0.4em;
    color: gray;
    text-shadow: 0px 0px 0px black;
}

.decompte .secondes
{
    color: var(--second-color);
}

/*Media query*/
@media screen and (max-width: 1150px)
{
    .divPrincipale::before 
    {
        background-position: center;
        min-width: 100%;
    }
}

@media (max-width:799px) 
{
    .date
    {
        font-size: 0.6em;
        padding-top: 3em;
    }

    .titrePrincipale
    {
        font-size: 3em;
        margin-bottom: 0.7em;
        margin-top: 0.2em;
    }

    .decompte
    {
        gap: 0.5em;
        font-size: 2em;
        text-shadow: 2px 2px 4px whitesmoke;
        background-color: black;
    }

    .menubutton
    {
        margin-top: 7em;
        padding: 0.8em;
        font-size: 0.7em;
    }    
}

@media (max-width:477px) 
{
    .titrePrincipale
    {
        font-size: 1.7em;
        margin-bottom: 0.7em;
        margin-top: 0.2em;
    }

    .menubutton
    {
        margin-top: 6em;
        padding: 0.8em;
        font-size: 0.6em;
    }    
    
    .homeSection1
    {
        margin-top: 0px;
    }
}

@media (max-width:300px) 
{
    .titrePrincipale
    {
        font-size: 1.5em;
        margin-bottom: 0.4em;
        margin-top: 0.2em;
    }

    .decompte
    {
        gap: 0.4em;
        font-size: 1.5em;
    }
}