@font-face
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; 
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLPTucg.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root
{
  /*Color palette*/
  --main-color : #FFF6F8;
  --second-color: #D90429;
  --nardo-gray-color : #5A5A5A;
  --black-color : #020202;
  --white-color: #FFFFFF;

  /*Typography pallette*/
  --main-font-family : 'Poppins', sans-serif;
  --second-font-family : 'Poppins', sans-serif;
  --logo-font-family : 'Rubik Burned', system-ui;
}
