@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

@font-face
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; 
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
  font-display: swap;
}

html
{
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root
{
  /*Color palette*/
  --main-color : #FFF6F8;
  --second-color: #D90429;
  --nardo-gray-color : #5A5A5A;
  --black-color : #020202;
  --white-color: #FFFFFF;

  /*Typography pallette*/
  --main-font-family : 'Poppins', sans-serif;
  --second-font-family : 'Poppins', sans-serif;
  --logo-font-family : 'Rubik Burned', system-ui;

  /*Autres Pallettes*/
  --black-900:#000;
  --black-400:#646f87;
  --black-100:#f7f7f7;
  --white:#fff;
  --black-alpha-100:rgba(0,0,0,.05);
  --black-alpha-100:rgba(0,0,0,.05);
  --main-background-color : #f9f9f9;
  --second-background-color : white;
}
